body::-webkit-scrollbar { 
    display: none; 
}

.right {
    position: absolute;
    right: 20px;
}

.center {
  margin: 0 auto;
}

.topbuffer {
    padding-top: 20px;
}

.leftbuffer {
	padding-left: 18px;
}

.gradient {
  background-image:
    linear-gradient(
    	to top right,
      blue, #5760e3
    );
}

/*body {
    background-image: url("img/bg_ishgard.jpg");
    background-color: #cccccc;
}*/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}