body::-webkit-scrollbar { 
    display: none; 
}

.right {
    position: absolute;
    right: 20px;
}

.center {
  margin: 0 auto;
}

.topbuffer {
    padding-top: 20px;
}

.gradient {
  background-image:
    linear-gradient(
    	to top right,
      blue, #5760e3
    );
}

/*body {
    background-image: url("img/bg_ishgard.jpg");
    background-color: #cccccc;
}*/